


<!--<footer>
<nav class="navbar navbar-dark  bg-success navbar-fixed-bottom ">
   
    
  
    
    
    </nav>
    </footer>-->

   <!-- <footer class="footer">
           
        <div class="container">


          <div class="col-md-4">
            <h4>Contact Us</h4>
            <p>
                <i class="fa fa-envelope"></i> Email: <a href="mailto:your-email@example.com">your-email@example.com</a>
            </p>
            <p>
                <i class="fa fa-phone"></i> Phone: <span>+123-456-7890</span>
            </p>
            <p>
                <i class="fa fa-map-marker"></i> Address: <span>123 Main St, Anytown, USA 12345</span>
            </p>
        </div>
   
   <ul class="social-icon animate pull-right">
                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>  change the link to social page and edit title-->
                    <!--<li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  </div>
      </footer>-->

      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <p>
                        <i class="fa fa-envelope"></i> Email: <a href="mailto:your-email@example.com">puneet92.2014@gmail.com</a>
                    </p>
                    <p>
                        <i class="fa fa-phone"></i> Phone: <span>+91- 8374403458</span>
                    </p>
                  
                </div>
                <div class="col-md-8">
                    <ul class="social-icon animate pull-right">
                        <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                        <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
