
<nav class="navbar navbar-dark  bg-success   navbar-fixed-top">
    <div class="container-fluid">
    
    <!-- BRAND -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Audacious</a>
    </div>
    
    <!-- COLLAPSIBLE NAVBAR -->
    <div class="collapse navbar-collapse" id="alignment-example">
    
    <!-- Links -->
    <ul class="nav navbar-nav">
    <li><a routerLink="/home">Home</a></li>
    <li><a href="#">About us</a></li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Java<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="about-us">
    <li><a routerLink='java/110'>Java1</a></li>
    <li><a >Java2</a></li>
    <li><a href="#">Java3</a></li>
    
    </ul>
    </li>

    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Springs<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="about-us">
    <li><a href="#">Springs</a></li>
    <li><a href="#">Spring Boot</a></li>
    <li><a href="#">Spring transaction</a></li>
    
    </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hibernate<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="about-us">
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Contact Us</a></li>
        
        </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Angular<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="about-us">
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Contact Us</a></li>
            
            </ul>
            </li>
    </ul>
    
    
    </div>
    

    </div>
    <!--<div class="social google-pluse">
        <i class="fa fa-google-plus fa-5x"></i>
    </div>
    <div class="social facebook">
        <i class="fa fa-facebook fa-5x"></i>       
    </div>-->
    
    </nav>