<div class="landing-page">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Welcome to Audacious</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
          <button class="btn btn-success btn-lg">Get Started</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="feature">
            <i class="fa fa-code fa-5x"></i>
            <h2>Code Snippets</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <i class="fa fa-book fa-5x"></i>
            <h2>Tutorials</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <i class="fa fa-question fa-5x"></i>
            <h2>FAQs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="cta">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Ready to Get Started?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
          <button class="btn btn-success btn-lg">Sign Up Now</button>
        </div>
      </div>
    </div>
  </div>